body {
     font-family: 'Oswald', sans-serif;
}

h1 {
    font-size: 3em!important;
}

.jumbo {
    font-size: 2em!important;
}

.rightened {
    float: right;
    font-size: 1.5em!important;
}

.wood {
    /* background-image: url(/static/img/forrest-autumn.jpg); */
    /*
    background-image: url(/static/img/herbst.jpg);
    background-size: 100%;
    */
    background-image: url(/static/img/grey_wash_wall.png);
    color: #ffffff;
    text-shadow: 0 -1px 1px #000, 0 2px 2px #000000;

    -webkit-box-shadow: inset 2px 2px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 2px 2px 3px -1px rgba(0,0,0,0.75);
    box-shadow: inset 2px 2px 3px -1px rgba(0,0,0,0.75);
}