body {
     font-family: 'Oswald', sans-serif;
}

h1 {
    font-size: 3em!important;
}

.jumbo {
    font-size: 1.5em;
}


.wood {
    /* background-image: url(/static/img/forrest-autumn.jpg); */
    background-image: url(/static/img/herbst.jpg);
    background-size: 100%;
    color: #ffffff;
    text-shadow: 0 -1px 1px #000, 0 3px 3px #000000;
}