{% extends "base.html" %}

{% block header %}
<div class="jumbotron wood">
    <h1>Was unternehme ich heute mit meinen Kindern?</h1>
    <p class="jumbo">
        Eine der ältesten Frage der Menschheit - aktueller denn jeh. Schlechtes Wetter draußen und
        die Decke fällt Ihnen auf den Kopf? Draußen scheint die Sonne, doch Sie wissen nicht wohin
        mit den Kindern? Hier wird Ihnen geholfen. Hier finden Sie Informationen für Unternehmungen
        mit Kindern ob drinnen oder draußen. Finden Sie ein Ausflugsziel in Ihrer Nähe.
    </p>
    <p>Ihre Lokation ist hier nicht aufgelistet?</p>
    <p>
        <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">
            Lokation hinzufügen &raquo;
        </a>
    </p>
</div>
{% endblock %}
{% block content %}
    Hier kommt dann mal richtig fett der Inhalt - ob du es glaubst oder nicht?
{% endblock %}
